.wrapper{
    width: 50%;
    height: 60vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: gray 0 5px 15px 0px;

}


.logintype{
    width: fit-content;

    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(107, 107, 226);
    border-radius: 5px;

    background-color: rgb(107, 107, 226);

    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgb(24, 24, 233);
}


@media only screen and (max-width: 600px){
    .wrapper{
        flex-direction: column;
    }
}
