{% extends 'home.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

<div class="main-content">

    <div>
        <h3>Quiz Name: {{quizname}}</h3>
    </div>

    <form action="" method="post" class="form-box">
        {% csrf_token %}
        <div class='box'>
            <label for="Question">Question</label><br>
            <input type="text" name = "Question" id = "id_Question" required>
        </div>
        <div class='box'>
            <label for="OptionA">OptionA</label><br>
            <input type="text" name = "OptionA" id = "id_OptionA" required>
        </div>
        <div class='box'>
            <label for="OptionB">OptionB</label><br>
            <input type="text" name = "OptionB" id = "id_OptionB" required>
        </div>
        <div class='box'>
            <label for="OptionC">OptionC</label><br>
            <input type="text" name = "OptionC" id = "id_OptionC" required>
        </div>
        <div class='box'>
            <label for="OptionD">OptionD</label><br>
            <input type="text" name = "OptionD" id = "id_OptionD" required>
        </div>
        <div class='box'>
            <label for="id_CorrectChoise1">CorrectChoise1</label><br>
            <select name="CorrectChoise1" id="id_CorrectChoise1" required>
                <option value="" selected>-----</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class='box'>
            <label for="CorrectChoise2">CorrectChoise2</label><br>
            <select name="CorrectChoise2" id="id_CorrectChoise2">
                <option value="" selected>-----</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class='box'>
            <label for="CorrectChoise3">CorrectChoise3</label><br>
            <select name="CorrectChoise3" id="id_CorrectChoise3">
                <option value="" selected>-----</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class='box'>
            <input type="submit" value="Add Question">
        </div>
        
    </form>
</div>

{% endblock %}