.inner-container{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.heading h1{
    margin: 0;
}


#ul-buttons{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    list-style-type: none;
}

#ul-buttons button{
    margin: 50px;
    width: 100px;
    height: 50px;
    background-color: blueviolet;

    border: none;
    outline: none;
    border-radius: 3px;

    color: white;

    font-size: larger;
    letter-spacing: 1px;
}

#ul-buttons button:hover{
    background-color: rgb(104, 26, 177);
}

@media screen and (max-width: 800px){
    
    #ul-buttons{
        flex-direction: column;
    }    

}