{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'QA_style.css' %}">
    <div class="inner-container">
        <div class="heading">
            <h1>
                Available quizzes
            </h1>
        </div>
        <ol class="quizzes_list" type = 'A'>
            {% for quiz in quizzes %}
                
                <h2>
                    <li><a href="{{ quiz.Quiz_name }}/1"> {{ quiz.Quiz_name }} </a></li>
                </h2>
        
            {% endfor %}
        </ol>
    </div>

{% endblock content %}