{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/Style.css' %}">

    <div class="inner-container">
        <div class="heading-field">
            <h1 id="quiz_name"> {{ quiz_name }} </h1>
            <h2 id="student_name">{{ student_name }}</h2>
        </div>

        <div class="question-field">
            <div class="question">
                <h2 id="Question">{{ question.Question_no }}. {{ question.Question }}</h2>
            </div>
            <div class="options">
                <ul id="reseter">
                    <li>
                        <div class="option" id="option_A-Box">
                            <h3>
                                <input type="radio" name="{{ question.Question_no }}" onchange="myfunction()" value="A" id="Option_A">A) {{ question.option_A }}
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="option" id="option_B-Box">
                            <h3>
                                <input type="radio" name="{{ question.Question_no }}" onchange="myfunction()" value="B" id="Option_B">B) {{ question.option_B }}
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="option" id="option_C-Box">
                            <h3>
                                <input type="radio" name="{{ question.Question_no }}" onchange="myfunction()" value="C" id="Option_C">C) {{ question.option_C }}
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="option" id="option_D-Box">
                            <h3>
                                <input type="radio" name="{{ question.Question_no }}" onchange="myfunction()" value="D" id="Option_D">D) {{ question.option_D }}
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="button-field">
            <div class="next-button">
                <button onclick="nextQuestion()" id="Next-Finish" disabled>Next</button>
            </div>
        </div>

    </div>

    
    {% load static %}
    <script src="{% static 'js/functions.js'%}"></script>

{% endblock %}