{% extends 'index.html' %}

{% block content %}
<div class="instructions-set">
    <div class="heading">
        <h1>Test Instruction</h1>
    </div>
    <div class="instructions-list">
        <ol>
            <li>
                <p>This is an Online Quiz Test</p>
            </li>
            <li>
                <p>Test containes four Questions</p>
            </li>
            <li>
                <p>Each questions carries 10 marks.</p>
            </li>
            <li>
                <p>press 'next' button to visit next questions</p>
            </li>
        </ol>
    </div>
    <div class="start-test">
        <button id="buttons" onclick="myfunction()">
            Start
        </button>
    </div>
</div>
    

{% endblock content %}